<%= form_for(album) do |f| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>
      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= yield :heading %>
  <label class="textfield">
    <%= f.text_field :name %>
    <span class="textfield__label">Name</span>
  </label>
  <label class="select">
    <%= f.collection_select :user_id, User.all, :id, :email, { prompt: "Select user" } %>
    <span class="select__label" for="select">User</span>
  </label>
  <label class="select">
    <%= f.date_select :expiry_date, { discard_day: true, discard_year: true } %>
    <span class="textfield__label">Expiry Date</span>
  </label>
  <label class="checkbox">
    <%= f.check_box :paid %>
    <span class="checkbox__label">Paid</span>
  </label>
  <br/>
  <%= f.submit %>
<% end %>